---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Navbar from "@/components/Navbar.astro";
import HeroSection from "@/components/HeroSection.astro";
import ProblemSection from "@/components/ProblemSection.astro";
import TransformationSection from "@/components/TransformationSection.astro";
import FeatureStorytelling from "@/components/FeatureStorytelling.astro";
import StatsSection from "@/components/StatsSection.astro";
import TestimonialsSection from "@/components/TestimonialsSection.astro";
import FinalCTA from "@/components/FinalCTA.astro";
import Footer from "@/components/Footer.astro";
---

<BaseLayout>
  <Navbar />
  <main>
    <HeroSection />
    <ProblemSection />
    <TransformationSection />
    <FeatureStorytelling />
    <StatsSection />
    <TestimonialsSection />
    <FinalCTA />
  </main>
  <Footer />
</BaseLayout>
